.heading {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  border-bottom-width: 1px;
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: 0.4px;
}
