<div class="relative overflow-x-auto">
    <table class="w-full text-sm">
        <thead class="text-xs text-center uppercase">
            <tr>
                @for (heading of tableHeaders; track $index) {
                <th scope="col" class="px-2 py-3"><span class="heading">{{heading}}</span></th>
                }
            </tr>
        </thead>
        <tbody>
            @for (product of cartItems; track $index) {
            <tr class="bg-white text-center">
                <td class="p-2 flex justify-center">
                    <img [src]="product?.product?.imgCover" class="w-24 h-24" alt="Product Image">
                </td>
                <td class="px-2 py-3">
                    <div class="text-lg font-bold">{{ product?.product?.title }}</div>
                </td>
                <td class="px-2 py-3">
                    ${{ product?.product?.price }}
                </td>
                <td class="px-2 py-3">
                    <div class="flex justify-center">
                        <!-- Quantity Selector -->
                        <div class="options flex flex-col">
                            <div class="quantity flex items-center gap-2 mt-2">
                                <button (click)="updateQuantity(product, -1)"
                                    class="px-4 py-2 bg-secondary text-primary rounded-3xl transition-colors text-sm md:text-sm"
                                    [disabled]="product.quantity <= 1">
                                    -
                                </button>
                                <input type="number" [(ngModel)]="product.quantity" (change)="onQuantityChange(product)"
                                    min="1"
                                    class="w-16 text-center px-4 py-2 text-primary rounded-3xl text-sm md:text-sm font-semibold border border-none" />

                                <button (click)="updateQuantity(product, 1)"
                                    class="px-4 py-2 bg-secondary text-primary rounded-3xl transition-colors text-sm md:text-sm">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="px-2 py-3 text-center">
                    ${{ product.subTotal| number:'1.2-2' }}
                </td>
                <td class="px-2 py-3 ">
                    <a (click)="RemoveProductFromCart(product?.product?.id)"
                        class="font-medium flex justify-center cursor-pointer hover:border-b-2">
                        <img src="icons/Remove.svg" alt="">
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>