<div class="max-w-screen-xl container my-12">
    <div class="title space-y-2">
        <h2>Delivery</h2>
        <p>Shipments and returns</p>
        <p>Your pack shipment</p>
    </div>
    <div class="content space-y-2">
        <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
            voluptatem
            eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam
            nulla
            qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem
            molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.</p>
        <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
            voluptatem
            eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam
            nulla
            qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem
            molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.</p>
        <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
            voluptatem
            eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam
            nulla
            qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem
            molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.</p>
    </div>
</div>