<form class="space-y-4" [formGroup]="setPasswordForm">
    <div>
        <input type="email" name="email" id="email" placeholder="Enter Email" formControlName="email" [ngClass]="{
            'auth-input border-red-500 dark:border-red-600':  (setPasswordControls.email.touched || submitted) && (setPasswordControls.email.hasError('pattern') ||
            setPasswordControls.email.hasError('required'))
          }"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        @if((setPasswordControls.email.touched || submitted) && setPasswordControls.email.hasError('required')){
        <p class="text-red-500 text-sm mt-1">Email is Required</p>
        } @else if (setPasswordControls.email.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Email is Invalid</p>
        }
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Enter Password" formControlName="newPassword"
            [ngClass]="{
            'auth-input border-red-500 dark:border-red-600':  (setPasswordControls.newPassword.touched || submitted) && (setPasswordControls.newPassword.hasError('pattern') ||
            setPasswordControls.newPassword.hasError('required') || setPasswordControls.newPassword.hasError('minlength'))
          }"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        @if((setPasswordControls.newPassword.touched || submitted) &&
        setPasswordControls.newPassword.hasError('required')){
        <p class="text-red-500 text-sm mt-1">Password is Required</p>
        } @else if (setPasswordControls.newPassword.hasError('minlength')) {
        <p class="text-red-500 text-sm mt-1">Password must be at least 8 characters long</p>
        } @else if (setPasswordControls.newPassword.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Password must contain at least one special character ,one
            uppercase letter and one
            number</p>
        }
    </div>
    <div class="flex justify-center">
        <app-auth-button [label]="'Set a Password'" [loading]="loading" (clicked)="resetPassword()"></app-auth-button>
    </div>
</form>