<div class="max-w-screen-xl container my-4 p-6">
  <div class="grid lg:grid-cols-6 sm:grid-cols-2 items-start gap-4">
    <div class="lg:col-span-2 md:col-span-2">
      <app-sidebar-category (selectedFilter)="updateSelectedFilters($event)"></app-sidebar-category>
    </div>

    @if (this.allProducts.length > 0) {
    <div class="lg:col-span-4 md:col-span-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
      @for (product of allProducts; track product) {
      <popular-card [cardData]="product" (addToCart)="handleAddToCart(product)"></popular-card>
      }

    </div>
    } @else {
    <div class="col-span-4 ">

      <div class="flex justify-center items-center text-center w-full h-[100vh] bg-gray-50">
        <p class="text-lg text-gray-700">No products found</p>
      </div>
    </div>
    }

  </div>
</div>