.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.list li a {
  color: var(--dark-blue);
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 400;
  &:hover {
    border-color: var(--primary-color);
  }
}

.head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  color: var(--dark-blue);
}

.bgk {
  width: 136px;
  height: 17px;
  border-radius: 0 20px 20px 0;
  left: 0;
  top: 22px;
  z-index: 0;
  position: absolute;
  background-color: var(--secondary-color);
}

.line {
  left: 0;
  z-index: 111;
  width: 53px;
  height: 2px;
  position: absolute;
  background: var(--primary-color);
}

.active {
  border-color: var(--primary-color);
}
