    
h2{
    color: var(--primary-color);
    
    }
  
    p {
        color: rgba(22, 14, 75, 1); /* Text color */
        font-weight: 600;           /* Bold text */
        font-size: 33px;            /* Font size */
        line-height: 26px;          /* Line height */
        font-family: 'Inter', sans-serif; /* Font family with fallback */
      }