<div class="max-w-screen-xl container my-12">
    <div class="title">
        <p> Terms and conditions of use</p>
    </div>
    <div class="content space-y-2">
        <div>
            <p class="sub">Rule 1</p>
            <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
                voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae
                distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit
                minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum
                expedita.</p>
        </div>
        <div>
            <p class="sub">Rule 2</p>
            <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
                voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae
                distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit
                minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum
                expedita.</p>
        </div>
        <div>
            <p class="sub">Rule 3</p>
            <p>Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque
                voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae
                distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum expedita.Ipsam optio qui ut sit
                minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum
                expedita.</p>
        </div>

    </div>
</div>