<footer class="bg-cover bg-center" style="background-image: url('icons/footer-bg.svg');">
    <div class="w-full max-w-screen-xl mx-auto py-10 md:py-8 flex flex-col items-center gap-6">
        <!-- Links Section -->
        <div class="w-full flex justify-center">
            <ul class="flex flex-wrap gap-3 sm:gap-24 text-base font-bold dark:text-gray-400">
                <li>
                    <a routerLink="/about" routerLinkActive="router-link-active" class="text-dark-blue">About US</a>
                </li>
                <li>
                    <a routerLink="/stores" routerLinkActive="router-link-active" class="text-dark-blue">Store
                        Location</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="router-link-active" class="text-dark-blue">Contact</a>
                </li>
                <li>
                    <a routerLink="/delivery" routerLinkActive="router-link-active" class="text-dark-blue">Delivery</a>
                </li>
                <li>
                    <a routerLink="/policy" routerLinkActive="router-link-active" class="text-dark-blue">Policy</a>
                </li>
                <li>
                    <a routerLink="/faqs" routerLinkActive="router-link-active" class="text-dark-blue">FAQS</a>
                </li>
            </ul>
        </div>

        <!-- Discount Coupon Text -->
        <div class="font-bold text-3xl text-center">
            Get <span class="text-primary">20%</span> Off Discount Coupon
        </div>

        <!-- Newsletter Text -->
        <span class="block text-xl text-[#757F95] text-center font-medium">
            By Subscribe Our Newsletter
        </span>

        <!-- Input and Subscribe Button -->
        <div class="flex justify-center items-center">
            <div class="relative">
                <input type="text" class="w-[400px] pl-6 pr-24 py-3 rounded-[30px] border-none"
                    placeholder="Enter Your Email" />
                <button class="absolute right-0 top-0 px-6 pt-3 pb-[15px] w-[131px] rounded-[30px] btn-rounded">
                    Subscribe
                </button>
            </div>
        </div>
    </div>
</footer>