.line {
  left: 50px;
  z-index: 111;
  width: 228px;
  height: 2px;
  position: absolute;
  background: rgba(117, 127, 149, 1);
}

/* Change the color of the track (unselected part) */
.ngx-slider {
  margin: 0px !important;
  .ngx-slider-bar {
    background: gray !important; /* Change to desired color */
  }
  /* Change the color of the selected range (between min & max) */
  .ngx-slider-selection {
    background: rgba(248, 43, 169, 1) !important; /* Pinkish color */
  }
  .ngx-slider-selection {
    background: rgba(248, 43, 169, 1) !important; /* Pinkish color */
  }
  /* Change the color of the slider handles (thumbs) */
  .ngx-slider-pointer {
    background: rgba(248, 43, 169, 1) !important; /* Thumb color */
    border: 2px solid white !important;
    width: 15px !important;
    height: 15px !important;
    top: -7px !important;
    &:after {
      content: "";
      width: 5px !important;
      height: 5px !important;
      position: absolute;
      top: 3px !important;
      left: 3px !important;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #fff;
    }
  }
  .ngx-slider-tick {
    background: rgba(248, 43, 169, 0.5) !important;
  }
  .ngx-slider-bubble {
    display: none !important;
  }
  .ngx-slider-bubble {
    background: rgba(248, 43, 169, 1) !important;
    color: white !important;
  }
}
