<form class="space-y-4" [formGroup]="forgetPasswordForm">
    <div>
        <input type="email" name="email" id="email" formControlName="email" [ngClass]="{
            'auth-input border-red-500 dark:border-red-600':  (forgetPasswordControls.email.touched || submitted) && (forgetPasswordControls.email.hasError('pattern') ||
            forgetPasswordControls.email.hasError('required'))
          }"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Email" />
        @if((forgetPasswordControls.email.touched || submitted) && forgetPasswordControls.email.hasError('required')){
        <p class="text-red-500 text-sm mt-1">Email is Required</p>
        } @else if (forgetPasswordControls.email.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Email is Invalid</p>
        }
    </div>
    <div class="flex justify-center">
        <app-auth-button [label]="'Recover Password'" [loading]="loading"
            (clicked)="forgetPassword()"></app-auth-button>
    </div>
</form>