<form class="space-y-4" [formGroup]="registerForm">
    <div>
        <input type="text" name="firstName" id="firstName" formControlName="firstName" [ngClass]="{
            'border-red-500 dark:border-red-600':   (registerControls.firstName.touched || submitted) && (registerControls.firstName.hasError('pattern') ||
            registerControls.firstName.hasError('required'))}"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="First Name" />
        @if((registerControls.firstName.touched || submitted) && registerControls.firstName.hasError('required')){
        <p class="text-red-500 text-sm mt-1">
            FirstName is required.
        </p> } @else if (registerControls.firstName.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">First Name must contain only alphabet letters</p>
        }
    </div>
    <div>
        <input type="text" name="lastName" id="lastName" formControlName="lastName" [ngClass]="{
            'border-red-500 dark:border-red-600':  (registerControls.lastName.touched || submitted) && (registerControls.lastName.hasError('pattern') ||
            registerControls.lastName.hasError('required'))
          }"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Last Name" />
        @if((registerControls.lastName.touched || submitted) && registerControls.lastName.hasError('required')){
        <p class="text-red-500 text-sm mt-1">
            LastName is required.
        </p> } @else if (registerControls.lastName.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">LastName is Invalid</p>
        }
    </div>
    <div>
        <input type="text" name="phone" id="phone" formControlName="phone" [ngClass]="{
            'border-red-500 dark:border-red-600':  (registerControls.phone.touched || submitted) && (registerControls.phone.hasError('pattern') ||
            registerControls.phone.hasError('required'))
          }"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Phone Number" />
        @if((registerControls.phone.touched || submitted) && registerControls.phone.hasError('required')){
        <p class="text-red-500 text-sm mt-1">
            Phone Number is required.
        </p> } @else if (registerControls.phone.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Phone Number is Invalid</p>
        }
    </div>
    <div>
        <input type="email" name="email" id="email" formControlName="email" [ngClass]="{
            'border-red-500 dark:border-red-600':  (registerControls.email.touched || submitted) && (registerControls.email.hasError('pattern') ||
            registerControls.email.hasError('required'))
          }"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="Email" />
        @if((registerControls.email.touched || submitted) && registerControls.email.hasError('required')){
        <p class="text-red-500 text-sm mt-1">
            Email is required.
        </p> } @else if (registerControls.email.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Email is Invalid</p>
        }
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Password" formControlName="password"
            [ngClass]="{
            'border-red-500 dark:border-red-600':  (registerControls.password.touched || submitted) && (registerControls.password.hasError('pattern') ||
            registerControls.password.hasError('required') || registerControls.password.hasError('minlength'))
          }"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        @if((registerControls.password.touched || submitted) && registerControls.password.hasError('required')){
        <p class="text-red-500 text-sm mt-1">Password is Required</p>
        } @else if (registerControls.password.hasError('minlength')) {
        <p class="text-red-500 text-sm mt-1">Password must be at least 8 characters long</p>
        } @else if (registerControls.password.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Password must contain at least one special character ,one
            uppercase letter and one
            number</p>
        }
    </div>
    <div>
        <input type="password" name="rePassword" id="rePassword" placeholder="Confirm Password"
            formControlName="rePassword" [ngClass]="{
            'border-red-500 dark:border-red-600':  (registerControls.rePassword.touched || submitted) && (registerControls.rePassword.hasError('pattern') ||
            registerControls.rePassword.hasError('required') || registerControls.rePassword.hasError('minlength'))
          }"
            class="auth-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        @if((registerControls.rePassword.touched || submitted) && registerControls.rePassword.hasError('required')){
        <p class="text-red-500 text-sm mt-1">Confirm password is Required</p>
        } @else if (registerControls.rePassword.hasError('minlength')) {
        <p class="text-red-500 text-sm mt-1">Confirm password must be at least 8 characters long</p>
        } @else if (registerControls.rePassword.hasError('pattern')) {
        <p class="text-red-500 text-sm mt-1">Confirm password must contain at least one special character ,one
            uppercase letter and one
            number</p>
        } @else if (registerControls.rePassword.hasError('passwordMismatch')) {
        <p class="text-red-500 text-sm mt-1">passwords do not match</p>
        }
    </div>
    <div class="text-sm text-center font-medium text-gray-500 dark:text-gray-300">
        Already have an account? <button type="button" (click)="login()"
            class="login text-sm hover:underline text-left leading-5 font-semibold">
            Login
        </button>
    </div>
    <div class="flex justify-center">
        <app-auth-button [label]="'Create Account'" [loading]="loading" (clicked)="signup()"></app-auth-button>
    </div>
</form>